<!--个人中心-->
<div class="myCenter tmBorder-green">
  <ol class="breadcrumb">
    <li class="currentPosition">您的当前位置:</li>
    <li><a routerLink="/">首页</a></li>
    <li class="active">个人学习中心</li>
  </ol>
  <form class="form-inline formCourse">
    <select name="selectedName" class="form-control" [(ngModel)]="selectedName" (ngModelChange)="selectChangeFun(selectedName.id)">
      <option *ngFor="let item of courseStatus" [ngValue]="item">{{item.name}}</option>
    </select>
    <div class="form-group">
      <input name="searchTitle" [(ngModel)]="searchTitle" type="text" class="form-control"
             style="width: 400px;"
             my-placeholder
             placeholder="请输入要搜索的课程">
    </div>
    <button type="submit" class="btn btn-default" (click)="searchMyCenterCourse({'courseType':selectedName.id,'title':searchTitle})">搜索</button>
  </form>
  <div class="myTab">
    <ul class="nav nav-tabs">
      <li [ngClass]="{active: vm.activeTab == 1}"><a href="javascript:;" (click)="vm.activeTab = 1;searchMyCenterCourse({'courseType':'Unfinish','title':searchTitle})">正在学习的课程 <span>({{TotalData?.UnfinishCount}})</span></a></li>
      <li [ngClass]="{active: vm.activeTab == 2}"><a href="javascript:;" (click)="vm.activeTab = 2;searchMyCenterCourse({'courseType':'Appointed','title':searchTitle})">指定到您的课程 <span>({{TotalData?.AppointedCount}})</span></a></li>
      <li [ngClass]="{active: vm.activeTab == 3}"><a href="javascript:;" (click)="vm.activeTab = 3;searchMyCenterCourse({'courseType':'Finish','title':searchTitle})">已完成的课程 <span>({{TotalData?.FinishCount}})</span></a></li>
    </ul>
    <div class="tab-content">
      <div class="tab-panel perlist" [hidden]="vm.activeTab !== 1">
        <div class="title_bar clearfix">
          <span class="list1">课程名称</span>
          <span class="list2"><a class="getorder" (click)="learningProgress('Unfinish')"><span>▼</span>学习进度</a></span>
          <span class="list3">&nbsp;</span>
          <span class="list6">学时</span>
          <span class="list5">类型</span>
          <span class="list4">播放</span>
          <span class="list4">笔记</span>
          <span class="list4">计划</span>
          <span class="list4">测试</span>
          <span class="list4">删除</span>
        </div>
        <ng-template ngFor [ngForOf]=" TotalData?.ListData.UnfinishModel" let-unFinish>
          <div class="list">
            <p class="clearfix">
              <span class="list1 cur_name" title="{{unFinish?.Name}}"><a [routerLink]="['/courseDetails',unFinish.Id]">{{unFinish.Name}}</a></span>
              <span class="list2"><span class="jd_box"><span class="jd_bg" [ngStyle]="{'width':unFinish.BrowseScore+'%'}">&nbsp;</span></span></span>
              <span class="list3">{{unFinish.BrowseScore}}%</span>
              <span class="list6">{{unFinish.Credit}}</span>
              <span class="list5">{{unFinish.Type}}</span>
              <span class="list4"><a href="#/play/play/{{unFinish.Id}}" target="_blank">播放</a></span>
              <!--<span class="list4"><a href=""  data-toggle="modal" data-target=".notemodal">{{unFinish.NoteFlag?"查看":"添加"}}</a></span>-->
              <span class="list4" *ngIf="unFinish.NoteFlag"><a href="" (click)="seeNote(unFinish.Id,unFinish.Name)"  data-toggle="modal" data-target=".notemodal">查看</a></span>
              <span class="list4" *ngIf="!unFinish.NoteFlag"><a href="" (click)="nodeAdd(unFinish.Id)"  data-toggle="modal" data-target=".notemodal">添加</a></span>

              <!--<span class="list4"><a href="">{{unFinish.PlanId?"查看":"添加"}}</a></span>-->
              <span class="list4" *ngIf="unFinish.PlanId"><a href="" (click)="seePlan(unFinish.PlanId,unFinish.Name)" data-toggle="modal" data-target=".notemodal2">查看</a></span>
              <span class="list4" *ngIf="!unFinish.PlanId"><a href="" (click)="planAdd(unFinish.Id)"  data-toggle="modal" data-target=".notemodal2">添加</a></span>


              <span *ngIf="unFinish.ExamFlag&&unFinish.BrowseScore<100" class="list4">有考试</span>
              <span *ngIf="unFinish.ExamFlag&&unFinish.BrowseScore==100" class="list4"><a (click)="courseExamList(unFinish.Id)" href="javascript:;" data-toggle="modal" data-target=".seeTest">查看</a></span>
              <span *ngIf="!unFinish.ExamFlag" class="list4">无</span>
              <span class="list4"><a (click)="deleatUserCourse(unFinish.Id)"><img [src]="'assets/images/del.jpg'"/></a></span>
            </p>
          </div>
        </ng-template>

        <div ng-transclude="pagation"></div>
      </div>
      <div class="tab-panel perlist" [hidden]="vm.activeTab !== 2">
        <div class="title_bar clearfix">
          <span class="list1">课程名称</span>
          <span class="list2"><a  (click)="learningProgress('Appointed')" class="getorder"><span>▼</span>学习进度</a></span>
          <span class="list3">&nbsp;</span>
          <span class="list6">学时</span>
          <span class="list5">类型</span>
          <span class="list4">播放</span>
          <span class="list4">笔记</span>
          <span class="list4">计划</span>
          <span class="list4">测试</span>
          <span class="list4">删除</span>
        </div>
        <ng-template ngFor [ngForOf]="TotalData?.ListData.AppointedModel" let-Appointed>
          <div class="list">
            <p class="clearfix">
              <span class="list1 cur_name" title="{{Appointed.Name}}"><a [routerLink]="['/courseDetails',Appointed.Id]">{{Appointed.Name}}</a></span>
              <span class="list2"><span class="jd_box"><span class="jd_bg" [ngStyle]="{'width':Appointed.BrowseScore+'%'}">&nbsp;</span></span></span>
              <span class="list3">{{Appointed.BrowseScore}}%</span>
              <span class="list6">{{Appointed.Credit}}</span>
              <span class="list5">{{Appointed.Type}}</span>
              <span class="list4"><a [routerLink]="['play',Appointed.Id]" target="_blank">播放</a></span>
              <!--<span class="list4"><a href="javascript:void(0)">{{Appointed.NoteFlag?"查看":"添加"}}</a></span>-->
              <span class="list4" *ngIf="Appointed.NoteFlag"><a href="" (click)="seeNote(Appointed.Id,Appointed.Name)"  data-toggle="modal" data-target=".notemodal">查看</a></span>
              <span class="list4" *ngIf="!Appointed.NoteFlag"><a href="" (click)="nodeAdd(Appointed.Id)"  data-toggle="modal" data-target=".notemodal">添加</a></span>

              <!--<span class="list4"><a href="javascript:void(0)">{{Appointed.PlanId?"查看":"添加"}}</a></span>-->
              <span class="list4" *ngIf="Appointed.PlanId"><a href="" (click)="seePlan(Appointed.PlanId,Appointed.Name)" data-toggle="modal" data-target=".notemodal2">查看</a></span>
              <span class="list4" *ngIf="!Appointed.PlanId"><a href="" (click)="planAdd(Appointed.Id)"  data-toggle="modal" data-target=".notemodal2">添加</a></span>

              <span *ngIf="Appointed.ExamFlag&&Appointed.BrowseScore<100" class="list4">有考试</span>
              <span *ngIf="Appointed.ExamFlag&&Appointed.BrowseScore==100" class="list4"><a (click)="courseExamList(Appointed.Id)" data-toggle="modal" data-target=".seeTest">查看</a></span>
              <span *ngIf="!Appointed.ExamFlag" class="list4">无</span>
              <span class="list4"><a (click)="deleatUserCourse(Appointed.Id)"><img [src]="assets/images/del.jpg" /></a></span>
            </p>
          </div>
        </ng-template>

        <div ng-transclude="pagation"></div>
      </div>
      <div class="tab-panel perlist" [hidden]="vm.activeTab !== 3">
        <div class="title_bar clearfix">
          <span class="list1">课程名称</span>
          <span class="list2"><a (click)="learningProgress('Finish')" class="getorder"><span>▼</span>学习进度</a></span>
          <span class="list3">&nbsp;</span>
          <span class="list6">学时</span>
          <span class="list5">类型</span>
          <span class="list4">播放</span>
          <span class="list4">笔记</span>
          <span class="list4">计划</span>
          <span class="list4">测试</span>
          <span class="list4">删除</span>
        </div>
        <ng-template ngFor [ngForOf]="TotalData?.ListData.FinishModel" let-Finish>
          <div class="list">
            <p class="clearfix">
              <span class="list1 cur_name" title="{{Finish.Name}}"><a [routerLink]="['courseDetails',Finish.Id]">{{Finish.Name}}</a></span>
              <span class="list2"><span class="jd_box"><span class="jd_bg" [ngStyle]="{'width':Finish.BrowseScore+'%'}">&nbsp;</span></span></span>
              <span class="list3">{{Finish.BrowseScore}}%</span>
              <span class="list6">{{Finish.Credit}}</span>
              <span class="list5">{{Finish.Type}}</span>
              <span class="list4"><a [routerLink]="['play',Finish.Id]" target="_blank">播放</a></span>
              <!--<span class="list4"><a href="javascript:void(0)">{{Finish.NoteFlag?"查看":"添加"}}</a></span>-->
              <span class="list4" *ngIf="Finish.NoteFlag"><a href="" (click)="seeNote(Finish.Id,Finish.Name)"  data-toggle="modal" data-target=".notemodal">查看</a></span>
              <span class="list4" *ngIf="!Finish.NoteFlag"><a href="" (click)="nodeAdd(Finish.Id)"  data-toggle="modal" data-target=".notemodal">添加</a></span>

              <!--<span class="list4"><a href="javascript:void(0)">{{Finish.PlanId?"查看":"添加"}}</a></span>-->
              <span class="list4" *ngIf="Finish.PlanId"><a href="" (click)="seePlan(Finish.PlanId,Finish.Name)" data-toggle="modal" data-target=".notemodal2">查看</a></span>
              <span class="list4" *ngIf="!Finish.PlanId"><a href="" (click)="planAdd(Finish.Id)"  data-toggle="modal" data-target=".notemodal2">添加</a></span>

              <span *ngIf="Finish.ExamFlag&&Finish.BrowseScore<100" class="list4">有考试</span>
              <span *ngIf="Finish.ExamFlag&&Finish.BrowseScore==100" class="list4"><a (click)="courseExamList(Finish.Id)" data-toggle="modal" data-target=".seeTest">查看</a></span>
              <span *ngIf="!Finish.ExamFlag" class="list4">无</span>
              <span class="list4"><a (click)="deleatUserCourse(Finish.Id)"><img [src]="assets/images/del.jpg" /></a></span>
            </p>
          </div>
        </ng-template>

        <div ng-transclude="pagation"></div>
      </div>
      <!-- Modal笔记 -->
      <div class="modal fade notemodal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
          <div class="modal-content"  [hidden]="!modalBody1">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
              <h4 class="modal-title">添加笔记</h4>
            </div>
            <div class="modal-body">
              <table class="table table-bordered">
                <tbody>
                <tr>
                  <td>课程名称：</td>
                  <td>{{nodeAddData?.CourseName}}</td>
                </tr>
                <tr>
                  <td>笔记名称：</td>
                  <td>
                    <input id="txtName" name="Name" class="txt" type="text" [(ngModel)]="noteName">
                  </td>
                </tr>
                <tr>
                  <td>内    容：</td>
                  <td>
                    <textarea [(ngModel)]="noteContent" id="txtContent" name="Content" cols="50" rows="5" class="txt2"></textarea>
                  </td>
                </tr>
                </tbody>
              </table>
            </div>
            <div class="modal-footer">
              <!--<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>-->
              <button (click)="editNote({Name:noteName,Content:noteContent,CourseId:nodeAddData.CourseId})" type="button" class="btn btn-primary">提交</button>
            </div>
          </div>
          <div class="modal-content"  [hidden]="!modalBody2">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
              <h4 class="modal-title">{{seeNoteData?.CourseName}}</h4>
            </div>
            <div class="modal-body" [hidden]="!modalBody21">
              <table class="table table-bordered">
                <tbody>
                <ng-template ngFor [ngForOf]="seeNoteData?.ListData" let-seeList>
                  <tr>
                    <td>笔记名称：</td>
                    <td class="seaNote">
                      <span class="pull-left">{{seeList.Name}}</span>
                      <a class="pull-right" (click)="delNote(seeList.Id)">删除</a>
                      <a class="pull-right" (click)="noteUpdate(seeList.Id)">编辑</a>
                    </td>
                  </tr>
                </ng-template>
                <tr>
                  <td colspan="2">
                    <div id="content_page" class="content_page">
                      <span class="p_num current">{{seeNoteData?.Page}}</span><span>共 {{pageCount}} 页,总记录 {{seeNoteData?.Count}} 条</span>
                      <a class="btn btn-danger newnote pull-right" (click)="nodeAdd(courseId)">添加笔记</a>
                    </div>
                  </td>
                </tr>
                </tbody>
              </table>
            </div>
            <div class="modal-body" [hidden]="modalBody21">
              <table class="table table-bordered">
                <tbody>
                <tr>
                  <td>笔记名称：</td>
                  <td>
                    <input id="txtName2" name="Name" class="txt" type="text" [(ngModel)]="noteName">
                  </td>
                </tr>
                <tr>
                  <td>内    容：</td>
                  <td>
                    <textarea [(ngModel)]="noteContent" id="txtContent2" name="Content" cols="50" rows="5" type="text" class="txt2"></textarea>
                  </td>
                </tr>
                </tbody>
              </table>
            </div>
            <div class="modal-footer" [hidden]="modalBody21">
              <!--<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>-->
              <button (click)="addNoteUpdate({Name:noteName,Content:noteContent})" type="button" class="btn btn-primary">提交</button>
              <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
            </div>
          </div>
        </div>
        <!--<div class="preventorgery"></div>-->
      </div>
      <!-- Modal计划 -->
      <div class="modal fade notemodal2" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
          <div class="modal-content"  [hidden]="!modalBody1">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
              <h4 class="modal-title">添加计划</h4>
            </div>
            <div class="modal-body">
              <table class="table table-bordered">
                <tbody>
                <tr>
                  <td>课程名称：</td>
                  <td style="text-align: left">{{planAddData?.CourseName}}</td>
                </tr>
                <tr>
                  <td>计划完成日期：</td>
                  <td>
                    <!--<div datetimepicker dateID="timepicker1" [(ngModel)]="planAddData.PlanFinishDate" class="form-control"></div>-->
                    <input id="timepicker1" class="datebg" datepicker [(ngModel)]="PlanFinishDate"/>
                  </td>
                </tr>
                <tr>
                  <td>开始提醒日期：</td>
                  <td>
                    <!--<div datetimepicker dateID="timepicker2" [(ngModel)]="planAddData.RemindDate" class="form-control"></div>-->
                    <input id="timepicker2" class="datebg" datepicker [(ngModel)]="RemindDate"/>

                  </td>
                </tr>
                <tr>
                  <td>提醒周期：</td>
                  <td style="text-align: left">
                    <select ng-init="selectedName2 = remindCycle[0]" [(ngModel)]="selectedName2" ng-options="x for x in remindCycle">
                    </select>
                  </td>
                </tr>
                <tr>
                  <td>提醒方式：</td>
                  <td style="text-align: left">
                    站内通知
                  </td>
                </tr>
                <tr>
                  <td>计划说明：</td>
                  <td>
                    <textarea [(ngModel)]="planAddData.planAddData" id="txtContent3" name="Content" cols="50" rows="5" type="text" class="txt2"></textarea>
                  </td>
                </tr>
                </tbody>
              </table>
            </div>
            <div class="modal-footer">
              <button (click)="addPlan({PlanFinishDate:PlanFinishDate,RemindDate:RemindDate,RemindCycle:selectedName2,Remark:planAddData.planAddData,CourseId:planAddData.CourseId})" type="button" class="btn btn-primary">提交</button>
            </div>
          </div>
          <div class="modal-content"  ng-show="modalBody2">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
              <h4 class="modal-title">修改计划</h4>
            </div>
            <div class="modal-body">
              <table class="table table-bordered">
                <tbody>
                <tr>
                  <td>课程名称：</td>
                  <td style="text-align: left">{{seePlanData?.CourseName}}</td>
                </tr>
                <tr>
                  <td>计划完成日期：</td>
                  <td>
                    <!--<div datetimepicker dateID="timepicker3" [(ngModel)]="seePlanData.PlanFinishDate" class="form-control"></div>-->
                    <input id="timepicker3" class="datebg" datepicker [(ngModel)]="PlanFinishDate2"/>
                  </td>
                </tr>
                <tr>
                  <td>开始提醒日期：</td>
                  <td>
                    <!--<div datetimepicker dateID="timepicker4" [(ngModel)]="seePlanData.RemindDate" class="form-control"></div>-->
                    <input id="timepicker4" class="datebg" datepicker [(ngModel)]="RemindDate2"/>
                  </td>
                </tr>
                <tr>
                  <td>提醒周期：</td>
                  <td style="text-align: left">
                    <select [(ngModel)]="selectedName3" ng-options="x for x in remindCycle">
                    </select>
                  </td>
                </tr>
                <tr>
                  <td>提醒方式：</td>
                  <td style="text-align: left">
                    站内通知
                  </td>
                </tr>
                <tr>
                  <td>计划说明：</td>
                  <td>
                    <textarea [(ngModel)]="seePlanData.Remark" id="txtContent4" name="Content" cols="50" rows="5" type="text" class="txt2"></textarea>
                  </td>
                </tr>
                </tbody>
              </table>
            </div>
            <div class="modal-footer">
              <!--<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>-->
              <button (click)="addPlanUpdate({PlanFinishDate:PlanFinishDate2,RemindDate:RemindDate2,RemindCycle:selectedName3,Remark:seePlanData.Remark,CourseId:seePlanData.CourseId,Id:seePlanData.Id})" type="button" class="btn btn-primary">提交</button>
            </div>
          </div>
        </div>
        <!--<div class="preventorgery"></div>-->
      </div>
      <!--Modal查看考试-->
      <div class="modal fade seeTest" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
              <h4 class="modal-title">添加计划</h4>
            </div>
            <div class="modal-body">
              <table class="table table-bordered">
                <thead>
                <tr>
                  <th>考试名称</th>
                  <th>考试学时</th>
                  <th>时限</th>
                  <th>参加测试</th>
                </tr>
                </thead>
                <tbody>
                <ng-template ngFor [ngForOf]="courseExamListData?.ListData" let-test>
                  <tr>
                    <td>{{test.Name}}</td>
                    <td>{{test.CreditHour}}</td>
                    <td>{{test.TimeLimit}}</td>
                    <td><a href="" target="_blank" (click)="havTest(test.Id)">参加测试</a></td>
                  </tr>
                </ng-template>

                </tbody>
              </table>
            </div>
          </div>
        </div>
        <!--<div class="preventorgery"></div>-->
      </div>
    </div>
  </div>

</div>
