<!--培训项目-->
<div id="training-program" class="training-program  container_24 mar_top_20">
  <div class="com-header"></div>
  <div class="training-program-content">
    <div class="first first-left">
      <div class="second second-top">
        <div class="one">
          <div>
            <a href="http://221.212.204.27/rzpx2/index.asp" target="_blank">
              <img src="assets/images/training_logo_1.png" alt="">
              <p>哈尔滨科级干部在线任职培训</p>
            </a>
          </div>
        </div>
        <div class="two">
        </div>
        <div class="one">
          <div>
            <a href="http://www.hrbgbzx.org.cn/Exam/exam_test.aspx?exam_id=52&pid=0" target="_blank">
              <img src="assets/images/training_logo_2.png" alt="">
              <p>2016年初任培训结业考试入口</p>
            </a>
          </div>
        </div>
      </div>
      <div class="second second-bottom">
        <div class="third third-left">
          <img src="assets/images/tp_bg_4.png" alt="">
        </div>
        <div class="third third-right">
          <div style="margin-top: 2px;">
            <div class="three">
              <div>
                <a href="http://www.hrbgbzx.org.cn/xrz/index.html" target="_blank">
                  <img src="assets/images/training_logo_3.png" alt="">
                  <p>新录用公务员初任职培训</p>
                </a>
              </div>
            </div>
            <div class="four">

            </div>
          </div>
          <div style="position: relative">
            <div class="forth">
              <div>
                <a href="http://221.212.204.27/rzpx1/index.asp" target="_blank">
                  <img src="assets/images/training_logo_4.png" alt="">
                  <p>哈尔滨处级干部在线任职培训</p>
                </a>

              </div>
            </div>
            <img style="position: absolute;left: 50%;bottom: -220px" src="assets/images/tp_bg_9.png" alt="">
            <img style="float: right" src="assets/images/tp_bg_8.png" alt="">
          </div>
        </div>
      </div>
    </div>
    <div class="first first-right">
      <img src="assets/images/tp_bg_2.png">
      <div style="top: 30px;">
        <img src="assets/images/tp_bg_10.png" alt="">
      </div>
      <div>
        <img src="assets/images/tp_bg_11.png" alt="">
      </div>
    </div>
  </div>
  <div class="more clearfix">
    <a class="more-btn" routerLink="trainingProgram" target="_blank">更 多</a>
  </div>
</div>