<div class="personalCenterNav tmBorder-green">
  <div class="titlebg2">
    <div class="txt">个人中心导航</div>
  </div>
  <div class="content per">
    <ul>
      <li>
        <a routerLink="courseCenter" class="btn btn-default per_cen_nav">选择课程</a>
        <a [routerLink]="['studyStat']" class="btn btn-default per_cen_nav ">学习统计</a>
      </li>
      <li>
        <a [routerLink]="['testStat']" class="btn btn-default per_cen_nav">考试统计</a>
        <a [routerLink]="['myFavorite']" class="btn btn-default per_cen_nav">我的收藏</a>
      </li>
      <li>
        <a [routerLink]="['studyPlan']" class="btn btn-default per_cen_nav">学习计划</a>
        <a [routerLink]="['messageList']" class="btn btn-default per_cen_nav">留言板</a>
      </li>
    </ul>
  </div>
</div>
