<!--登陆-->
<div class="login_box">
  <form class="login" *ngIf="showLogin">
    <div class="titlebg2">
      <div class="txt ng-binding login_title ">

      </div>
    </div>
    <div class="form-group clearfix">
      <label for="exampleInputUser" class="login_icon_user"></label>
      <input name="account" (focus)="inputFocus()" (ngModelChange)="inputChange()" [(ngModel)]="login.Account"
             type="text" class="form-control" id="exampleInputUser"
             my-placeholder
             placeholder="请输入用户名">
      <span class="error" [ngClass]="showError?'is-visible':''">帐号或密码错误</span>
    </div>
    <div class="form-group clearfix">
      <label for="exampleInputPassword1" class="login_icon_password"><span></span></label>
      <input name="password" (focus)="inputFocus()" (ngModelChange)="inputChange()" [(ngModel)]="login.PassWord"
             type="password" class="form-control" id="exampleInputPassword1"
             my-placeholder
             placeholder="请输入密码"
      >
    </div>
    <div class="checkbox">
      <label>
        <input name="rememberMe" [(ngModel)]="login.RememberMe" type="checkbox">记住密码
      </label>
    </div>
    <button (click)="clickLogin(userMessage.RememberMe)" type="submit" class="btn btn-success">登录</button>
    <div class="forgetPassword">
      <a routerLink="forgetPassword">找回密码</a>
    </div>
    <div class="btn btn-success" id="phone">
      联系电话：0451-53656022
    </div>
    <!--<div class="preventorgery"></div>-->
  </form>
  <!--登陆成功-->
  <div id="loginAfter"  *ngIf="!showLogin">
    <div class="titlebg2">
      <div class="txt ng-binding border">
        个人信息
      </div>
    </div>
    <div class="content login_info">
      <!--@*个人中心的登陆后详细和首页不同，个人中心更为具体详细，具体看 Mycenter.cshtml*@-->
      <ul class="loginAfter_ul">
        <li class="welcom">欢迎您:<b class="blue">{{userMessage.Name}}</b>({{userMessage.Account}})</li>
        <li>
          <span>年度学时：<span class="blue">{{userMessage.BatchTotalCredit}}</span></span>
          <span>当前学时：<span class="blue">{{userMessage.SumCredit}}</span></span>
        </li>
        <li>
          <span>个人学习档案</span>
          <span class="list2 grey"><a routerLink="personaLearningArchives" target="_blank">详细&gt;&gt;</a></span>
        </li>
        <li>
          <span class="list1">您有<span class="blue">{{userMessage.UnRead}} </span>条新通知！</span>
          <span class="list2 grey"><a routerLink="unReadNotice">查看详情&gt;</a></span>
        </li>
        <li class="lastChild fontSize12 grey">
          <a routerLink="modifyPassword">修改密码</a>&nbsp;&nbsp;|&nbsp;&nbsp;
          <a routerLink="changeUser" id="ctl05_A2">修改信息</a> &nbsp;|&nbsp;
          <!--<span class="list2" tmpt-show="{{equal(UserType,'管理员')}}"><a href="#/admin" target="_blank">进入管理控制台</a></span>-->

          <span class="list2" *ngIf="userAllMessage.UserType=='管理员'" ><a href="/admin" target="_blank">进入管理控制台</a></span>
        </li>
        <li class="lastChild lastChild1">
          <a class="exit" (click)="loginOut('out')">退出</a>
          <!--<span class="list1"><a  href="javascript:void();" onclick="loginOut('cancel')">删除账号</a></span>-->
        </li>
      </ul>
    </div>
  </div>
</div>

