<div class="topbg">
    <div>
        <div id="carousel-header" class="carousel slide" data-ride="carousel">
            <!-- Indicators -->
            <ol class="carousel-indicators">
                <li data-target="#carousel-header" data-slide-to="0" class="active"></li>
                <li data-target="#carousel-header" data-slide-to="1"></li>
                <li data-target="#carousel-header" data-slide-to="2"></li>
            </ol>

            <!-- Wrapper for slides -->
            <div class="carousel-inner" role="listbox">
                <a class="item clearfix active" href=""><img [src]="'assets/images/banner_bg.png'" errSrc="assets/images/notFound.jpeg"></a>
                <a class="item clearfix" href=""><img [src]="'assets/images/banner_bg2.png'" errSrc="assets/images/notFound.jpeg"></a>
                <a class="item clearfix" href=""><img [src]="'assets/images/banner_bg3.png'" errSrc="assets/images/notFound.jpeg"></a>
            </div>

            <!-- Controls -->
            <a class="left carousel-control" href="#carousel-header" role="button" data-slide="prev">
                <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="right carousel-control" href="#carousel-header" role="button" data-slide="next">
                <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
    </div>
</div>
